.download-button {}

.icon {
  background-color: black;
  padding: 5px 6px;
  border-radius: 5px;

  display: flex;

  border: 1px solid #b8b8c7;

  cursor: pointer;
}

.icon:hover {
  background-color: #1a1a1c;
}

.icon:active {
  background-color: #36363c;
}

.buttons-container {
  position: absolute;
  bottom: 44px;
  right: 0px;

  flex-direction: column;
  gap: 1px;

  border: 1px solid #cbcbda;
  background-color: #cbcbda;

  border-radius: 4px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: black;

  padding: 12px 14px;
  margin: 0px;

  cursor: pointer;
}

.button:hover {
  background-color: #212123;
}

.button:active {
  background-color: #2d2d30;
}

.button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  padding: 0px;
  margin: 0px;

  white-space: nowrap;
}
