.download-button {}

.icon {
  background-color: rgba(0, 0, 0, 0.88);
  padding: 5px 6px;
  border-radius: 5px;

  display: flex;

  border: 1px solid #b8b8c7;

  cursor: pointer;
}

.icon:hover {
  background-color: #202022;
}

.icon:active {
  background-color: #36363c;
}

.image-format-buttons {
  position: absolute;
  bottom: 45px;
  right: 0px;

  flex-direction: column;

  border: 1px solid #cbcbda;
  background-color: #cbcbda;

  border-radius: 4px;
}

.image-format-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;

  padding: 12px 15px;
  margin: 0px;

  cursor: pointer;
}

.image-format-button:hover {
  background-color: #242426;
}

.image-format-button:active {
  background-color: #2f2f33;
}

.image-format-button-text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  padding: 0px;
  margin: 0px;

  white-space: nowrap;
}

.spacer {
  display: flex;
  flex-direction: column;
  padding: 0px 14px;
}
